.App {
  font-weight: bolder;
}

.background_image {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1597290282695-edc43d0e7129?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1175&q=80');
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}



.Header {
  color: #e9c46a;
}

.container{
  margin: auto;

}
.SignupContainer {
  width: 10vw;
  margin: auto;
  margin-top: 10vh;
}
.LoginContainer {
  width: 10vw;
  margin: auto;
  margin-top: 10vh;
}

.form-container {
  background-color: rgba(134,187,216,.7);
  padding: 2vw;
}

.form-style {
  background-color: transparent; 
}

.form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  background-color: rgb(233, 196, 106);
  color: white;
  padding: 1vw 2vh;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}

.card {
  padding: 2vw;
  margin: 2vh;
  width: auto; 
  height: auto; 
  overflow: hidden; 
  background-color: rgba(134,187,216,.7);
  border-radius: 5px;
  box-shadow: 2px 2px 10px #ddd;
}

.NavbarContainer {
  background-color: rgb(233, 196, 106, .7 );
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.Navbar ul {
  list-style: none;
  display: flex;
}

.Navbar li {
  margin: 0 10px;
}

.SearchbarContainer {
  position: absolute ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 80%;
  margin: 0 auto;
}

.Searchbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}


.card-container {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  margin: 0 auto;
  align-items: center;
}


.resultsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  height: 80vh;
  margin: 0 auto;
}




.parentContainer {
  position: relative;
  text-align: center;

}

